<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cheqmate</title>
</head>
<body>
  <h1>Cheqmate</h1>

  <main>
    <nav>
      <ul>
        <form action="/user/login" method="POST">
          <label for="login-name">Enter Your Email</label>
          <input type="email" name="email" id="login-email">
        <br>
          <label for="login-password">Enter Your Password</label>
          <input type="password" name="password" id="login-password" minlength="6">
        <br>
          <button type="submit">Login to Dashboard</button>
      </form>
          <p>Not a user? <a href="/user/new">Sign Up</a></p>
        </li>
      </ul>
    </nav>
  </main>

</body>
</html>