<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cheqmate</title>
</head>
<body>
  <h1>Login Page</h1>

  <main>
    <form action="/user/login" method="POST">
      <div>
        <label for="name">Enter Your Name</label>
        <input type="text" name="name" id="name">
      </div>
      <div>
        <label for="password">Enter Your Password</label>
        <input type="password" name="password" id="password" minlength="4">
      </div>
      <button type="submit">Login to Dashboard</button>
    </form>
    <p>Not a user? <a href="/user/new">Sign Up</a></p>
  </main>

</body>
</html>