<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cheqmate</title>
</head>
<body>
  <h1>Login Page</h1>

  <main>
    <nav>
      <ul>
        <li>
          <a href="/user">Dashboard</a>
        </li>
      </ul>
    </nav>
  </main>

</body>
</html>