<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/ticketNew.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/90405cb4a8.js" crossorigin="anonymous"></script>
    <title>Cheqmate</title>
  </head>
  <body>

    <nav>
      <img class="nav-cheqmate-logo" src="/images/logo.png" alt="logo" />
      <h3 class="nav-greeting">New Ticket</h3>
      <a href="/"><span class="nav-logout">Logout</span></a>
    </nav>

    <main>
      <div class="dashboard-admin">
        <a href="/user/<%= userId %>" class="admin-btns admin-new-ticket">
          <i class="fas fa-ticket-alt admin-icon"></i>
          <p class="admin-item">Home</p>
        </a>
				<a href="/" class="admin-btns">
          <i class="fas fa-users admin-icon"></i>
					<p class="admin-item">Users</p>
				</a>
				<a href="/" class="admin-btns">
          <i class="fas fa-clipboard-list admin-icon"></i>
					<p class="admin-item">Tasks</p>
        </a>
        <a href="/" class="admin-btns">
          <i class="fas fa-tasks admin-icon"></i>
					<p class="admin-item">Tickets</p>
        </a>
        <a href="/" class="admin-btns">
          <i class="fas fa-project-diagram admin-icon"></i>
					<p class="admin-item">Projects</p>
        </a>
      </div>

      <form action="/user/<%= userId %>/ticket" method="POST" class="ticket-info">
        <div class="ticket-info-section">
          <label for="title">Title</label>
          <input type="text" id="title" name="title" />
        </div>
        <div class="ticket-info-section">
          <label for="developer">Developer</label>
          <input type="text" id="developer" name="developer" /> 
        </div>
        <div class="ticket-info-section">
          <label for="status">Status</label>
          <select name="status" id="status">
            <option value="Open">Open</option>
            <option value="In-Progress">In-Progress</option>
            <option value="Complete">Complete</option>
          </select>
        </div>
        <div class="ticket-new-btns">
          <button class="ticket-new-btn"><a href="/user/<%= userId %>">Cancel</a></button>
          <button class="ticket-new-btn" type="submit">Create</button>
        </div>
      </form>
    </main>
  </body>
</html>