<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cheqmate</title>
</head>
<body>
  <h1>Edit Ticket</h1>

  <main>
    <form action="/user/:id/ticket" method="POST">
      <ul>
        <li>
          <label for="title">Ticket Title:</label>
          <input type="text" id="title" name="title" value="<%= ticket.title %>">
        </li>
        <li>
          <label for="developer">Assigned Developer:</label>
          <input type="text" id="developer" name="developer">
        </li>
        <li>
          <label for="project">Project:</label>
          <input type="text" id="project" name="project">
        </li>
        <li>
          <label for="status">Ticket Status:</label>
          <input type="text" id="status" name="status">
        </li>
        <li>
          <label for="dueDate">Due Date:</label>
          <input type="date" id="dueDate" name="dueDate">
        </li>
        <li>
          <label for="description">Ticket Description:</label>
          <input type="text" id="description" name="description">
        </li>
        <li>
          <label for="submitted">Submitted:</label>
          <input type="checkbox" id="submitted" name="submitted">
        </li>
        <li>
          <label for="priority">Ticket Priority:</label>
          <input type="text" id="priority" name="priority">
        </li>
      </ul>
      <button type="submit">Submit Ticket</button>
    </form>
  </main>

</body>
</html>