<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Cheqmate</title>
  </head>
  <body>
    <main id="login-container">
      <img id="login-logo" src="/images/logo.png" alt="logo" />
      <form action="/user" method="POST">
        <ul class="login-form">
          <li>
            <input type="text" name="name" id="create-name" placeholder="Name">
          </li>
          <li>
            <input type="text" name="username" id="create-username" placeholder="Username">
          </li>
          <li>
            <input type="email" name="email" id="create-email" placeholder="Email">
          </li>
          <li>
            <input type="password" name="password" id="create-password" minlength="6" placeholder="Password">
          </li>
        </ul>  
        <div class="signup-btn">
          <button type="submit">Create</button>
          <button><a href="/">Cancel</a></button>
        </div>
      </form>
    </main>
  </body>
</html>