<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/dashboard.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <title>Cheqmate</title>
</head>
<body>

  <header>
    <img src="/images/logo.png" alt="logo">
    <h3>Welcome Joey</h3>
    <nav>
      <a href="/">Logout</a> |
      <a href="/">Profile</a>
    </nav>
  </header>
  
  <main>
    <div class="dashboard-admin">
      <a href="/user/:id/ticket/new">Create New Ticket</a>
    </div>
    <div class="dashboard-alltickets">
      <div class="dashboard-tickets">
        <h1>List of Tickets</h1>
        <ul>
            <% ticket.forEach((one) => { %>
                <li>
                    <a href="/user/:id/ticket/<%= one._id %> "><%= one.title %></a> 
                </li>
            <% }) %>
        </ul>
      </div>
      <div class="dashboard-completed">
        <h1>Completed</h1>
      </div>
    </div>
  </main>

</body>
</html>