<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="/styles/signUpPage.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Cheqmate</title>
  </head>
  <body>
    <main class="signup-container">
      <img class="signup-logo" src="/images/logo.png" alt="logo" />
      <form action="/user" method="POST" class="signup-form">
        <input 
          type="text" 
          name="username" 
          id="username" 
          placeholder="Username"
          class="signup-input"
        >
        <input 
          type="password" 
          name="password" 
          id="password" 
          placeholder="Password"
          class="signup-input"
        > 
        <div class="signup-btns-container">
          <button class="signup-btn"><a href="/">Cancel</a></button>
          <button class="signup-btn" type="submit">Create</button>
        </div>
      </form>
    </main>
  </body>
</html>