:root {
  --green: rgb(38,185,108);
  --orange: rgb(228,121,17);
}

* {
	padding: 0;
	margin: 0;
}

body {
  background-color: #CDCDCD;
  font-family: "Montserrat", sans-serif;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

/* Navbar */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--orange);
	border-radius: 10px;
	border: 1px solid black;        
	padding: 0 5px;
	margin: 0 5px;
}

.cheqmate-logo {
	height: 50px;
	padding: 10px 0;
}

.nav-logout:hover {
	cursor: pointer;
}

/* DashBoard Navigation */
main {
	display: flex;
}

.dashboard-admin {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: calc(100vh - 86.5px);
	width: 50vw;
	background-color: white;
	border-radius: 10px;
	border: 1px solid black;
	margin: 5px 0 5px 5px;
}

.admin-btns {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 20%;
	border-radius: 10px;
	border-top: 1px solid grey;
	/* margin: 5px; */
	transition: background-color ease 0.4s;
}

.admin-btns:hover {
	cursor: pointer;
	background-color: var(--orange);
}

.admin-new-ticket {
	border-top: 0;
}

.admin-icon {
	color: var(--green);
	font-size: 8vw;
	padding: 0 2px;
}

.admin-item {
	font-size: 4vw;
}

/* All Tickets Open/Complete */
.dashboard-alltickets {
	height: calc(100vh - 72px);
}

/* Open Tickets */
.open-tickets {
	height: 48.6%;
	border-radius: 10px;
	background-color: white;
	margin: 5px; 
	border: 1px solid black;    
}

.open-tickets-title {
	text-align: center;
}

.open-ticket-description {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 1px solid gray;
}

.open-ticket-description p {
	font-size: 5vw;
}

.open-ticket {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid gray;
	padding: 10px;
	margin: 0 10px;
	transition: transform ease 0.4s;
}

.open-ticket:hover {
	background-color: var(--orange);
	border-radius: 5px;
	transform: scale(1.05);
}

/* Complete Tickets */
.completed-tickets {
	padding-left: 10px;
	margin: 0;
	border-bottom: 2px solid black;
}

.dashboard-completed ul li {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	margin-right: 40px;
	border-bottom: 1px solid gray;
}

.dashboard-completed ul li:hover {
	background-color: #e47911;
	border-radius: 5px;
}

.dashboard-completed ul li p {
	margin: 0 5px;
	justify-content: center;
	padding-right: 5px;
}

.dashboard-completed {
	height: 48.5%;
	border-radius: 10px;
	background-color: white;
	margin: 5px;
	border: 1px solid black;
}

/* .ticket-show {
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    background-color: white;
    height: 73%;
    border: 1px solid black;
    overflow: hidden;
}


.left-side ul li {
    padding: 10px;
    list-style-type: none;
    border-bottom: 1px solid black;
}

.right-side ul li {
    padding: 10px;
    list-style-type: none;
    border-bottom: 1px solid black;
}

p {
    padding-left: 10px;
}

#attachment-div {
    border-radius: 10px;
    background-color: white;
    display: flex;
    height: 25%;
    margin: 10px;
    border: 1px solid black;
}

.attachment-title {
    padding-left: 10px;
}

.attachment-buttons {
    margin-top: 125px;
}

.delete-edit-btn {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-evenly;

}

.delete-edit {
    font-family: "Montserrat", sans-serif;
    background-color: #e47911;
    color: white;
    border-radius: 6px;
}

.delete-edit a:visited {
    color: white;
}

footer {
    text-align: center;
} */

