:root {
    --green: rgb(38,185,108);
}

body {
    background-color: lightblue;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--green);
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: var(--green);
}

/* Login */
#login-container {
    background-color: grey;
    border-radius: 10px;
    height: 300px;
    width: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-logo {
    height: 100px;
    width: 225px;
    padding: 10px;
}

.login-form {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form li {
    margin: 5px 0;
}
