/* Universal */
:root {
  --green: rgb(38,185,108);
  --orange: rgb(228,121,17);
	--grey: rgb(205, 205, 205);
}
* {
	padding: 0;
	margin: 0;
}
body {
	height: calc(100vh - 5px);
  background-color: var(--grey);
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}

/* Navbar */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: calc(10vh - 2px);
	background-color: var(--orange);
	border-radius: 10px;
	border: 1px solid black;        
	padding: 0 5px;
	margin: 5px 5px 0;
}

.nav-cheqmate-logo {
	width: 18vw;
	padding: 10px 0;
}

.nav-greeting {
	color: white;
}

.nav-logout {
	color: white;
	transition: color ease 0.4s;
}

.nav-logout:hover {
	color: var(--green);
	cursor: pointer;
}

/* DashBoard Navigation */
main {
	display: flex;
}

.dashboard-admin {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: calc(30vw - 5px);
	max-width: 148.008px;
	background-color: white;
	border-radius: 10px;
	border: 1px solid black;
	margin: 5px;
}

.admin-btns {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 20%;
	border-radius: 10px;
	border-top: 1px solid grey;
	transition: background-color ease 0.4s;
}

.admin-btns:hover {
	cursor: pointer;
	background-color: var(--orange);
}

.admin-new-ticket {
	border-top: 0;
}

.admin-icon {
	color: var(--green);
	font-size: 8vw;
	padding: 0 2px;
}

.admin-item {
	font-size: 4vw;
}

.ticket-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
	height: calc((100vh - 10vh) - 19px);
	width: 100vw;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  margin: 5px 5px 5px 0; 
}

.ticket-info-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 15%;
  width: 50%;
}

.ticket-info-section label {
  font-size: 5vw;
}

.ticket-info-section input {
  width: 75%;
  max-width: 229.961px;
  padding: 2px;
}

.ticket-info-section select {
  padding: 4px;
}

.ticket-new-btns {
  display: flex;
  justify-content: space-around;
  width: 75%;
  max-width: 459.922px;
}

.ticket-new-btn {
  font-family: "Montserrat", sans-serif;
  background-color: var(--orange);
  border-radius: 6px;
  color: white;
  width: 40%;
  padding: 5px;
  transition: transform ease 0.4s;
}

.ticket-new-btn a {
  color: white;
}

.ticket-new-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media (min-width: 560px) {
	.admin-icon {
		font-size: 44.5px;
	}
	.admin-item {
		font-size: 22.4px;
	}
}

@media (min-width: 800px){
	.nav-cheqmate-logo {
		width: 143.984px;
	}
  .ticket-info-section label {
    font-size: 40px;
  }
  .ticket-new-btn {
    width: 183.965px;
  }
}